<footer class="bg-gray-200 py-6">
  <div class="container mx-auto px-4 flex flex-col items-center gap-4">
    <div class="flex gap-4 text-xl">
      <i class="fa-brands fa-google text-secondary hover:text-primary transition cursor-pointer"></i>
      <i class="fa-brands fa-facebook text-secondary hover:text-primary transition cursor-pointer"></i>
      <i class="fa-brands fa-x text-secondary hover:text-primary transition cursor-pointer"></i>
    </div>
    <div class="text-gray-600 text-sm">
      <small>drosellopa - &copy; Universitat Oberta de Catalunya</small>
    </div>
  </div>
</footer>
