<header class="bg-white text-seconday shadow-md">
  <div class="container mx-auto px-4 py-3 flex items-center justify-between">
    <a href="index.html" class="flex items-center gap-2 text-secondary font-bold text-xl no-underline">
      <img src="./assets/images/logo.webp" alt="Logotip La cuina de la iaia" width="40">
      La Cuina de la Iaia
    </a>
    <nav class="hidden sm:block">
      <ul class="flex gap-6">      
        <li><a href="jornades2025.html" class="text-secondary hover:text-primary transition">Jornada</a></li>       
        <li><a href="contacte.html" class="text-secondary hover:text-primary transition">Contacte</a></li>
      </ul>
    </nav>
  </div>
</header>